@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 900;
  src: local("@"),
  url('fonts/Pretendard-Black.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 700;
  src:local("@"),
  url('fonts/Pretendard-Bold.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 600;
  src:local("@"),
  url('fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 500;
  src: local("@"),
  url('fonts/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 300;
  src: local("@"),
  url('fonts/Pretendard-Light.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  font-weight: 100;
  src: local("@"),
  url('fonts/Pretendard-Thin.subset.woff2') format('woff2');
}
