---
 # Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


$link-color:#6bacce !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;


body{
    //font-weight: 500;
}

a:hover{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, strong{
    // font-weight: 700;
}

/* 아카이브-아이템 */
.list__item:hover .archive__item-title>a{
    text-decoration: underline;
}

.archive__item{
    padding: .5em 0;
}

.archive__item-category{
    font-size: .7em;
    font-weight: 500;
    margin-top: 3em;
    margin-bottom: .25em;
    text-decoration: none;
    color: $link-color!important;
}

.archive__item-title{
    font-family: Pretendard, $sans-serif;
    margin-top: 0 !important;
}

.archive__item-title > a{
    text-decoration: none;
    font-weight: bold;
    color: #3d4144;
}

.archive__item:hover{}

.list__item:hover .archive__item-title>a{
    text-decoration: none;
    color: $link-color-hover;
}

/* 사이드 바 시작 */
.sidebar>*{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.author__urls{
    font-size: 18px;
}

.nav__sub-title{
    font-size: .875em;
    font-weight: 400;
    text-transform: none;
    margin: 0;
}

/* 사이드 바 끝 */


/* 포스트 */
.page__category{
    text-decoration: none;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .875em;
    font-weight: 600;
}

.page .page__inner-wrap .page__meta{
    float: none;
}

.page__inner-wrap header{
    text-align: center;
    margin-bottom: 1.5em;
}

.page__title{
    margin-top: .188em;
    line-height: 1.2;
}

.page__title a{
    font-size: 1.5em;
    letter-spacing: -1px;
    font-weight: bold;
}

.page__title a:hover{
    text-decoration: none;
}

.page__inner-wrap .page__meta{
    color: #8d9599;
}

.page__title+.page__meta{
    margin-top: .25em;
}


/* Taxonomy */
.page__taxonomy-item{
    border-radius: 15px;
    border-color: #d9dade;
}


/* Breadcrumbs*/
.breadcrumbs .current{
    color: $link-color;
}
