---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.archive__item-title-custom > a, .archive__item-title > a{
    font-weight: 400;
    text-decoration: none;
}

/* 사이드 바 시작 */
.sidebar>*{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.author__urls{
    font-size: 18px;
}

.nav__sub-title{
    font-weight: 400;
    text-transform: none;
}
/* 사이드 바 끝 */
